
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
}

/* NAVIGATION STYLING */
#nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    background: #243c07;
    justify-content: right;
}


#nav .nav-item {
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

#nav .nav-item:hover {
    background: #346e05;
    transition: 0.15s ease-in;
}

#nav .nav-item.nav-item--active {
    background: #346e05;;
}
/* END OF NAVIGATION STYLING */
